// colors
$color-primary: #404040;
$color-secondary: #b3b3b3;
$color-layout: rgb(251, 251, 251);
$color-card: white;
$color-outline: grey;
$color-border: #e6e6e6;
$color-button-hover: white;
$color-overlay: rgba(100, 100, 100, 0.4);
$color-modal-background: #fff;
$color-modal-border: #778;

// layouts 
$tablet: 768px;
$laptop: 1024px;